<head>
	<title>Book Archive</title>
</head>

<div ng-app="myApp" ng-controller="listController as ctrl">

<div  class="belch">
	
	<h2 name="bookListTitle">List of Favorite Books</h2><BR>
    <form [formGroup]="bookForm" 
    (ngSubmit)="(addBook)">
    <br><br><label name="titleLabel">Title:  <input type="text" name="titleInput" formControlName="title" required="required"/></label><br>
    	<label name="seriesLabel">Series:  <input type="text" name="seriesInput" formControlName="series"/></label><br>
        <label name="authorLabel">Author:  <input type="text" name="authorInput" formControlName="author" required="required"/></label><br>
        <label name="illustratorLabel">Illustrator:  <input  type="text" name="illustratorInput" formControlName="illustrator" /></label><br>
        <label name="genreLabel">Genre:  <input  type="text" name="genreInput" formControlName="genre" /></label><br>
        
        <br>
        <button (click)="reset()">Clear</button><br>
        <br><input *ngIf="bookForm.get('id')?.value === null" name="submitBookBtn" [disabled]="bookForm.invalid" type="submit" (click)='addBook()' value="Submit new book" />
		<input *ngIf="bookForm.get('id')?.value"  type="submit" [disabled]="bookForm.invalid"  (click)='updateBook()' value="Update book" />

        
        <p *ngIf="isError" style="color: red">{{bookError}}</p>
    </form><br>
</div>
<div class="card-body">
    <div class="table-responsive">
	    <table class="table mb-0" >
	        <thead>
		        <tr>
                    <th name="columnId">Book Id</th>
                    <th name="columnTitle">Title</th>
                    <th name="columnSeries">Series</th>
                    <th name="columnAuthor">Author</th>
                    <th name="columnIllustrator">Illustrator</th>
                    <th name="columnGenre">Genre</th>
                </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let book of books" id="bookList">
                            <td id="bookID-{{index}}">{{book.id}}</td>
                            <td id="bookTitle-{{index}}">{{book.title}}</td>
                            <td id="bookSeries-{{index}}">{{book.series}}</td>
                            <td id="bookAuthor-{{index}}">{{book.author}}</td>
                            <td id="bookIllustrator-{{index}}">{{book.illustrator}}</td>
                            <td id="bookGenre-{{index}}">{{book.genre}}</td>
                            <td>
                                <button type="button"  id="editBtn-{{index}}" (click)='editBook(book)' class="btn btn-success custom-width">Edit</button>
                                <button type="button"  id="deleteBtn-{{index}}" (click)="deleteBook(book.id)" class="btn btn-danger custom-width">Remove</button>
                            </td>
                        </tr>
                    		
                </tbody>
            </table>
        </div>
    </div>
</div>