<head>
	<title>Book Archive</title>
</head>

<div ng-app="myApp" ng-controller="listController as ctrl">

<div  class="belch">
	
	<h2>List of Favorite Books</h2><BR>
    <form [formGroup]="bookForm" 
    (ngSubmit)="(addBook)">
    <br><br><label>Title:  <input type="text" name="title" formControlName="title" required="required"/></label><br>
    	<label>Series:  <input type="text" name="series" formControlName="series"/></label><br>
        <label>Author:  <input type="text" name="author" formControlName="author" required="required"/></label><br>
        <label>Illustrator:  <input  type="text" name="illustrator" formControlName="illustrator" /></label><br>
        <label>Genre:  <input  type="text" name="genre" formControlName="genre" /></label><br>
        
        <br>
        <button (click)="reset()">Clear</button><br>
        <br><input *ngIf="bookForm.get('id')?.value === null" [disabled]="bookForm.invalid" type="submit" (click)='addBook()' value="Submit new book" />
		<input *ngIf="bookForm.get('id')?.value"  type="submit" [disabled]="bookForm.invalid"  (click)='updateBook()' value="Update book" />

        
        <p *ngIf="isError" style="color: red">{{bookError}}</p>
    </form><br>
</div>
<div class="card-body">
    <div class="table-responsive">
	    <table class="table mb-0" >
	        <thead>
		        <tr>
                    <th>Book Id</th>
                    <th>Title</th>
                    <th>Series</th>
                    <th>Author</th>
                    <th>Illustrator</th>
                    <th>Genre</th>
                </tr>
                </thead>
                <tbody>
                    
                        <tr *ngFor="let book of books">
                            <td>{{book.id}}</td>
                            <td>{{book.title}}</td>
                            <td>{{book.series}}</td>
                            <td>{{book.author}}</td>
                            <td>{{book.illustrator}}</td>
                            <td>{{book.genre}}</td>
                            <td>
                                <button type="button" (click)='editBook(book)' class="btn btn-success custom-width">Edit</button>
                                <button type="button" (click)="deleteBook(book.id)" class="btn btn-danger custom-width">Remove</button>
                            </td>
                        </tr>
                    		
                </tbody>
            </table>
        </div>
    </div>
</div>