<div class="belch">
  <form (ngSubmit)="login()" [formGroup]='loginForm' novalidate><br>
    <p name="userNameBanner">User Name: <input type='text' name="username" id="username" formControlName='username' /></p>
    <p name="passwordBanner">Password: <input type='password' name="password" id="password" formControlName='password' /></p>
<br>
    <button [disabled]="loginForm.invalid" (click)='onClick()' name="submitLogIn">Login</button><br><br>
  </form>

  <p name="errorMessage" *ngIf="loginForm.invalid" style="color: red">{{errorMessage}}</p>
  <p *ngIf="loginForm.valid" style="color: green">Access granted!</p><br><br>
</div>
